<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minus ea doloribus officia qui voluptas repellat aliquam consequuntur itaque!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sapiente, optio dolore minima repellendus ipsa tempora quis assumenda maiores numquam architecto veniam ratione ullam qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias esse delectus nisi consequuntur impedit odit est, quos, repudiandae saepe veniam qui.</p><p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias. Adipisci nemo dicta doloremque placeat odio quo laboriosam sint ratione cumque sequi, molestiae praesentium est ea, nihil obcaecati possimus labore quibusdam inventore, minus harum numquam facere quas! Quas perspiciatis reprehenderit esse voluptate sunt dolor placeat atque, dolore nulla quia iste.
</p>

Post::create([
'title' => 'Judul Ketiga',
'slug' => 'judul-ketiga',
'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sapiente, optio dolore minima repellendus ipsa tempora.',
'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minus ea doloribus officia qui voluptas repellat aliquam consequuntur itaque!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sapiente, optio dolore minima repellendus ipsa tempora quis assumenda maiores numquam architecto veniam ratione ullam qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias esse delectus nisi consequuntur impedit odit est, quos, repudiandae saepe veniam qui.</p>'
])

Category::create([
    'name' => 'Website',
    'slug' => 'website'
])

Post::create([
    'title' => 'Judul Kedua',
    'category_id' => '2',
    'slug' => 'judul-kedua',
    'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis maiores, obcaecati reprehenderit eum voluptatibus cupiditate ipsam, consequuntur explicabo optio, fugiat aut. Harum culpa omnis maiores veritatis esse, nostrum mollitia illum?</p><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam blanditiis optio quas temporibus doloribus consectetur?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, quod natus. Ipsum, eos dicta iste accusantium vero alias temporibus provident!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci assumenda aliquid, in fuga odit vero architecto necessitatibus aperiam nam, delectus eius inventore ratione quam, itaque exercitationem laboriosam suscipit debitis reiciendis culpa deleniti repellat earum beatae distinctio numquam! Id doloribus placeat, beatae vero laboriosam quos libero voluptas perspiciatis natus ratione quasi?</p>'
])